<!DOCTYPE html>
<html>

<head>
    <!-- Include the same styles as your main page -->
    <style>
        body {
            background-color: #1e1e1e;
            color: #ffffff;
            font-family: Arial, sans-serif;
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center ; padding:30px; color: #ffffff; background-color: #007bff;">Job Application Form</h1>
    <h2 style="text-align: center ; padding:30px; color: #ffffff; ">Application submitted successfully</h2>
</body>

</html>